<div class="container">
  <h4>Registration Form</h4>

  <!-- Form -->
  <form [formGroup]="myForm" (ngSubmit)="submit()">
    <div>
      <label for="exampleInputEmail1">Name</label>
      <!-- user name -->
      <div class="row">

        <!-- firstName -->
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              formControlName="firstName"
            />

            <!-- Validate First Name -->
            <div
              *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
              class="alert alert-danger">
              <div *ngIf="firstName.errors.required">First name is required.</div>
              <div *ngIf="firstName.errors.maxlength">First name must be at least 32 characters long.</div>
            </div>
            <small id="emailHelp" class="form-text text-muted">First Name</small>
          </div>
        </div>

        <!-- Last Name -->
        <div class="col-md-6">
          <div class="form-group">
            <input 
              type="text" 
              class="form-control"
              formControlName = "lastName"/>
              <!-- last Name Validation -->
            <div
              *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
              class="alert alert-danger">
              <div *ngIf="lastName.errors.required">Last name is required.</div>
              <div *ngIf="lastName.errors.maxlength">Last name must be at least 32 characters long.</div>
            </div>
            <small id="emailHelp" class="form-text text-muted">Last Name</small>
          </div>
        </div>
      </div>

      <!-- Email -->
      <label for="exampleInputEmail1">E-mail</label>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              formControlName="email"
            />
            <!-- Email Validation -->
            <div
              *ngIf="email.invalid && (email.dirty || email.touched)"
              class="alert alert-danger">
              <div *ngIf="email.errors.required">Emial is required.</div>
              <div *ngIf="email.errors.email">Email is invalid</div>
            </div>
            <small id="emailHelp" class="form-text text-muted">Email</small>
          </div>
        </div>
      </div>

      <!-- Phone -->
      <label for="exampleInputEmail1">Phone Number</label>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <!-- Area Code -->
            <div class="col-md-4">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  formControlName = "areaCode"
                />
                <!-- Area code Validator -->
                <div
                  *ngIf="areaCode.invalid && (areaCode.dirty || areaCode.touched)"
                  class="alert alert-danger">
                  <div *ngIf="areaCode.errors.required">Area code is required.</div>
                  <div *ngIf="areaCode.errors.pattern">Area code is invalid.</div>
                </div>
                <small id="emailHelp" class="form-text text-muted">Area Code</small>
              </div>
            </div>

            <!-- Phone Number -->
            <div class="col-md-8">
              <div class="form-group">
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  formControlName= "phoneNumber"
                />
                <!-- Phone Number Validation -->
                <div
                  *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)"
                  class="alert alert-danger">
                  <div *ngIf="phoneNumber.errors.required">Phone number is required.</div>
                  <div *ngIf="phoneNumber.errors.pattern">Phone number is invalid.</div>
                </div>    
                <small id="emailHelp" class="form-text text-muted">Phone Number</small>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Password -->
      <label for="exampleInputEmail1">Password</label>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              formControlName = "password"
            />
            <!-- password Validation -->
            <div
              *ngIf="password.invalid && (password.dirty || password.touched)"
              class="alert alert-danger">
              <div *ngIf="password.errors.required">Password is required.</div>
              <div *ngIf="password.errors.minlength">Password at least 8 digits.</div>
              <div *ngIf="password.errors.maxlength">Password maximum is only 128 digits.</div>
            </div>
            <small id="emailHelp" class="form-text text-muted">Password</small>
          </div>
        </div>

        <!-- Confirm Password -->
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              formControlName="confirmPassword"
            />
            <div
              *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
              class="alert alert-danger">
              <div *ngIf="confirmPassword.errors.required">Password is required.</div>
              <div *ngIf="confirmPassword.errors.minlength">Password at least 8 digits.</div>
              <div *ngIf="confirmPassword.errors.maxlength">Password maximum is only 128 digits.</div>
              <div *ngIf="confirmPassword.errors.isMatch">Confirm password is not match.</div>
            </div>
            <small id="emailHelp" class="form-text text-muted">Confirm Password</small>
          </div>
        </div>
      </div>

      <!-- Address -->
      <label for="exampleInputEmail1"><Address></Address></label>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="exampleInputEmail1">Address</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              formControlName = "address"
            />
            <!-- Address Validation -->
            <div
              *ngIf="address.invalid && (address.dirty || address.touched)"
              class="alert alert-danger">
              <div *ngIf="address.errors.required">Address is required.</div>
            </div>    
            <small id="emailHelp" class="form-text text-muted">Street Address</small>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              formControlName="address2"
            />
            <!-- Address2 Validation -->
            <div
              *ngIf="address2 .invalid && (address2.dirty || address2.touched)"
              class="alert alert-danger">
              <div *ngIf="address2.errors.required">Address is required.</div>
            </div> 
            <small id="emailHelp" class="form-text text-muted">Street Address Line2</small>
          </div>
        </div>
      </div>

      <!-- City -->
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              formControlName="city"
            />
            <!-- City Validation -->
            <div
              *ngIf="city.invalid && (city.dirty || city.touched)"
              class="alert alert-danger">
              <div *ngIf="city.errors.required">City is required.</div>
            </div> 
            <small id="emailHelp" class="form-text text-muted">City</small>
          </div>
        </div>

        <!-- State -->
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              formControlName="state"
            />
            <!-- State Validation -->
            <div
              *ngIf="state.invalid && (state.dirty || state.touched)"
              class="alert alert-danger">
              <div *ngIf="state.errors.required">State is required.</div>
            </div> 
            <small id="emailHelp" class="form-text text-muted">State/Province</small>
          </div>
        </div>
      </div>

      <!-- Post / Zip code -->
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              formControlName="zipCode"
            />
            <!-- ZipCode Validation -->
            <div
              *ngIf="zipCode.invalid && (zipCode.dirty || zipCode.touched)"
              class="alert alert-danger">
              <div *ngIf="zipCode.errors.required">State is required.</div>
              <div *ngIf="zipCode.errors.pattern">State is invalid.</div>
            </div> 
            <small id="emailHelp" class="form-text text-muted">Postal /Zip Code</small>
          </div>
        </div>

        <div class="col-md-6">
          <select name="cars" id="cars" class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp">
            <option value="volvo">Select</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
          <small id="emailHelp" class="form-text text-muted">Postal /Zip Code</small>
        </div>
      </div>

      <!-- birthDate -->

      <div class="row">
        <div class="col-md-4">
          <select name="cars" id="cars" class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp">
            <option value="volvo">Select</option>
            <option value="saab">1</option>
            <option value="mercedes">2</option>
            <option value="audi">3</option>
          </select>
          <small id="emailHelp" class="form-text text-muted">Day</small>
        </div>

        <div class="col-md-4">
          <select name="cars" id="cars" class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp">
            <option value="volvo">Select</option>
            <option value="saab">January</option>
            <option value="mercedes">Februry</option>
            <option value="audi">March</option>
          </select>
          <small id="emailHelp" class="form-text text-muted">month</small>
        </div>

        <div class="col-md-4">
          <select name="cars" id="cars" class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp">
            <option value="volvo">Select</option>
            <option value="saab">1999</option>
            <option value="mercedes">2000</option>
            <option value="audi">2001</option>
          </select>
          <small id="emailHelp" class="form-text text-muted">Year</small>
        </div>
      </div>

      <br />
      <br />
      <!-- Where you Know about us ? -->
      <label for="exampleInputEmail1">Where you know about us?</label>
      <br />
      <input type="checkbox" name="" id="" />
      <label for=""> A friend of colledge</label> <br />
      <input type="checkbox" name="" id="" />
      <label for=""> Google</label>
      <br />
      <input type="checkbox" name="" id="" />
      <label for=""> Blog post</label>
      <br />
      <input type="checkbox" name="" id="" />
      <label for=""> New Article</label>

      <br />
      <br />
      <h5 style="border-bottom: 1px solid; padding-bottom: 20px">
        Membership Rules
      </h5>
      <p>1. Membership is available to anyone of age 18 or older.</p>
      <p>
        2. You promise not to use to conduct any drafulant of bussiness activity
        or have more than one Member Account at any time
      </p>

      <br />

      <br/>
      <!-- Acceopt Cinfirm -->
      <input 
      type="checkbox" name="" id="" formControlName= "isAccept"/>
      <label class="accept" for=""> I have read, understood and accepted rule for membership</label>
      <div
        *ngIf="isAccept.invalid && (isAccept.dirty || isAccept.touched)"
        class="alert alert-danger">
        <div *ngIf="isAccept.errors.required">State is required.</div>
      </div> 


      <br /><br /><br />
      <h5 style="border-bottom: 1px soliid; padding-bottom: 10px">
        Privacy Policy
      </h5>
      <br /><br /><br />
      <p style="text-align: center">
        Once you submit your application, we will contact you shortly to
        complete your
      </p>
      <p style="text-align: center">membership application.</p>
      <br /><br />

      <p
        style="
          text-align: center;
          border-bottom: 1px solid;
          padding-bottom: 30px;">
        Thank you.
      </p>

      <br /><br />
      <div style="text-align: center">
        <button type="submit" class="btn btn-success">Submit application</button>
      </div>

      <br /><br />
    </div>
  </form>
</div>
